# Intro

In [11]:
import pandas as pd
import quandl
import math

In [2]:
df = quandl.get('WIKI/GOOGL')

In [3]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [4]:
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [5]:
# Create a new column: Percent Volotility
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Low'] * 100
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume    HL_PCT
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0  8.441017
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0  8.537313
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0  4.062357
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0  7.753210
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0  3.966115

In [6]:
# Create column for daily percent change
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100
df.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,8.441017,0.324968
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,8.537313,7.227007
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,4.062357,-1.227880
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,7.753210,-5.726357
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,3.966115,1.183658

In [7]:
df = df[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']]
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0
2004-08-20   54.322689  8.537313    7.227007   22834300.0
2004-08-23   54.869377  4.062357   -1.227880   18256100.0
2004-08-24   52.597363  7.753210   -5.726357   15247300.0
2004-08-25   53.164113  3.966115    1.183658    9188600.0

# Regression Features and Labels

In [10]:
forcast_col = 'Adj. Close'
# in Pandas na can == NaN
# replace NaN with a - in prder not to sacrafice data, and treat it as an outlier
df.fillna(-99999, inplace=True)

In [12]:
# Generally we use regression to forcarst out
forcast_out = int(math.ceil(0.1*len(df)))

In [13]:
df['label'] = df[forcast_col].shift(-forcast_out)
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume       label
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0  214.005615
2004-08-20   54.322689  8.537313    7.227007   22834300.0  210.725489
2004-08-23   54.869377  4.062357   -1.227880   18256100.0  208.072299
2004-08-24   52.597363  7.753210   -5.726357   15247300.0  218.288837
2004-08-25   53.164113  3.966115    1.183658    9188600.0  223.309335